@using WebApp.ViewModels.OurVision
@model OurVisionIndexVM

<a class="btn btn-warning" asp-action="create" asp-controller="OurVision">Create</a>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
       
            <th scope="col">Photo</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var vision in Model.OurVisions)
        {

            <tr>
                <td>@vision.Id</td>
                <td>@vision.Title</td>
                <td>@vision.Description</td>
               
                <td><img style="width:70px;height:70px; border-radius:50%" src="~/assets/images/@vision.Photo" />
                <td>
                <td>
                    <form asp-route-id="@vision.Id" method="get" asp-action="delete" asp-controller="OurVision">
                        <input id="id" name="id" value="@vision.Id" type="hidden" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a class="btn btn-primary" asp-action="update" asp-controller="OurVision" asp-route-id="@vision.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>